<mat-card class="property-card">
  <div fxLayout="row" fxLayout.lt-md="column">
    <a href="https://nexthome.pt/property-page/84">
      <img mat-card-image class="preview clickable" [class.fixed-width]="(isHandset$ | async) === false"
           [src]="property.images[0].image"/>
    </a>

    <div fxFlex="100" fxLayout="column" class="p-24">
      <div fxLayout="row" class="align-items-center">
        <div fxLayout="column" fxFlex="grow">
          <a class="property-name clickable" href="https://nexthome.pt/property-page/84">
            {{ property.name }}
          </a>

          <a class="price clickable" href="https://nexthome.pt/property-page/84">
            <span class="variable-price-disclaimer" *ngIf="property.variable_price">A partir de</span>
            {{ property.price | currency:'BRL' }}
          </a>
        </div>
      </div>
      <span class="extra-expanses">
        <span *ngIf="property.condominium_price">Condomínio {{ property.condominium_price | currency:'BRL'}}</span>
        <span *ngIf="property.iptu_price">IPTU {{ property.iptu_price | currency:'BRL'}}</span>
      </span>
      <a class="description clickable" href="https://nexthome.pt/property-page/84">
        {{ property.description }}
      </a>
      <div class="footer" fxLayout="row" fxLayout.lt-sm="column">
        <div fxLayout="column" fxFlex="100">
          <span class="address">
            <mat-icon>location_on</mat-icon>
            {{ property.address.city }} - {{ property.address.state }}, {{ property.address.neighborhood }}
          </span>
          <div class="features">
            <ng-container *ngIf="property.total_area; then totalArea;
             else (property.private_area ? privateArea : constructedArea)">
            </ng-container>

            <ng-template #totalArea>
              <span [matTooltip]="'Área Total'">
                {{ property.total_area | number:'':'pt-BR' }} m²
              </span>
            </ng-template>

            <ng-template #privateArea>
              <span [matTooltip]="'Área Privativa'">
                {{ property.private_area | number:'':'pt-BR' }} m²
              </span>
            </ng-template>

            <ng-template #constructedArea>
              <span [matTooltip]="'Área Construída'" *ngIf="property.constructed_area">
                {{ property.constructed_area | number:'':'pt-BR' }} m²
              </span>
            </ng-template>


            <span [matTooltip]="'Quartos'" *ngIf="property.rooms">
              <mat-icon>single_bed</mat-icon>
              {{ property.rooms }}
            </span>
            <span [matTooltip]="'Suítes'" *ngIf="property.suites">
              <mat-icon>king_bed</mat-icon>
              {{ property.suites }}
            </span>
            <span [matTooltip]="'Banheiros'" *ngIf="property.bathrooms">
              <mat-icon>bathtub</mat-icon>
              {{ property.bathrooms }}
            </span>
            <span [matTooltip]="'Vagas de Garagem'" *ngIf="property.parking_spots">
              <mat-icon>directions_car</mat-icon>
              {{ property.parking_spots }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>
