<mat-toolbar>
  <div class="flex-container">
    <a class="logo" href="/">
      <img src="assets/images/Favicon/favicon32px.png"/>
      <span>NextHome</span>
    </a>
  </div>
</mat-toolbar>

<section id="search">
  <div class="flex-container">
    <div fxLayout="column" fxFlex="grow">
      <div fxLayout="row" fxLayoutAlign="center">
        <h1>Next Home, o futuro dos imóveis.</h1>
      </div>

      <div fxLayout="row">
        <mat-card class="margin-auto">
          <form fxLayout="column" [formGroup]="searchFormGroup">
            <div class="pb-16" fxLayout="row" fxFlexAlign="center">
              <mat-button-toggle-group formControlName="negotiation_type" [(ngModel)]="searchParams.negotiationType">
                <mat-button-toggle value="RENTAL">Alugar</mat-button-toggle>
                <mat-button-toggle value="SELL">Comprar</mat-button-toggle>
                <mat-button-toggle value="SEASON">Temporada</mat-button-toggle>
              </mat-button-toggle-group>
            </div>

            <mat-form-field appearance="outline" [floatLabel]="'always'">
              <mat-label>
                <mat-icon matPrefix>location_on</mat-icon>
                Localização
              </mat-label>
              <input matInput type="text" placeholder="Busque por estado, cidade ou bairro" formControlName="city"
                     [matAutocomplete]="auto" [(ngModel)]="searchParams.location">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of locationOptions" [value]="option">
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <div fxLayout="row" fxLayoutGap="16px">
              <mat-form-field appearance="outline" floatLabel="always" fxFlex="grow">
                <mat-label>Mínimo (R$)</mat-label>
                <input matInput [(ngModel)]="searchParams.minPrice" formControlName="minPrice"
                       min="0" placeholder="500,00"
                       mask="separator.2" decimalMarker="," thousandSeparator=".">
              </mat-form-field>

              <mat-form-field appearance="outline" floatLabel="always" fxFlex="grow">
                <mat-label>Máximo (R$)</mat-label>
                <input matInput [(ngModel)]="searchParams.maxPrice" formControlName="maxPrice"
                       min="0" placeholder="200.000,00"
                       mask="separator.2" decimalMarker="," thousandSeparator=".">
              </mat-form-field>

              <mat-form-field appearance="outline" [floatLabel]="'always'">
                <mat-label>
                  <mat-icon matPrefix>single_bed</mat-icon>
                  Quartos
                </mat-label>
                <mat-select placeholder="Nº de quartos" formControlName="rooms" [(ngModel)]="searchParams.rooms">
                  <mat-option value="1">1+</mat-option>
                  <mat-option value="2">2+</mat-option>
                  <mat-option value="3">3+</mat-option>
                  <mat-option value="4">4+</mat-option>
                  <mat-option value="5">5+</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="center">
              <button mat-flat-button color="primary" fxFlex="50%" (click)="goToSearchPage()">
                Encontrar imóveis
              </button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</section>

<section id="top-properties">
  <div class="flex-container" fxLayout="column">
    <div class="title mb-16">
      <span class="align-self-center">Ver imóveis mais recentes em</span>

      <mat-form-field appearance="fill" class="custom-select">
        <mat-select [(ngModel)]="recommendationCity" (ngModelChange)="getRecommendations()">
          <mat-option value="Maceió">Maceió</mat-option>
          <mat-option value="Recife">Recife</mat-option>
          <mat-option value="Aracajú">Aracajú</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="width-100" fxLayout="row wrap" fxLayoutGap="16px" fxLayoutAlign="center">
      <mat-spinner *ngIf="loadingRecommendations"></mat-spinner>

      <span class="text-center mt-16" *ngIf="!loadingRecommendations && !recommendationProperties">
        Falha ao carregar recomendações. <a class="retry" (click)="getRecommendations()">Tentar novamente</a>.
      </span>

      <span class="text-center mt-16" *ngIf="recommendationProperties && !recommendationProperties.length">
        A cidade escolhida ainda não tem imóveis cadastrados.
      </span>

      <app-property-card-small *ngFor="let property of recommendationProperties"
                               [property]="property">
      </app-property-card-small>
    </div>
  </div>
</section>

<footer>
  <div class="flex-container">
    <div fxFlex="row nowrap" fxLayout.lt-md="column">
      <div class="footer-box" fxFlex="33">
        <h4>Sobre Nós</h4>
        <p>
          Somos um produto Next Opinion que nasceu com o intuito de dar a você, imobiliário, a oportunidade de realmente
          se tornar o protagonista
          do seu negócio e ter as ferramentas que necessita para se destacar nos meios digitais, pois acreditamos que as
          ferramentas corretas,
          uma presença digital acertada e uma vitrine chamativa são, atualmente, as principais formas de angariar cada
          vez mais leads a um baixo custo e
          convertê-los em clientes satisfeitos.
        </p>
      </div>

      <div class="footer-box" fxFlex="33">
        <h4 class="m-0">Contato</h4>
        <mat-list>
          <mat-list-item>
            <mat-icon mat-list-avatar color="accent">email</mat-icon>
            <h5 mat-line>Email</h5>
            <p mat-line>atendimento@nexthome.pt</p>
          </mat-list-item>

          <mat-list-item>
            <mat-icon mat-list-avatar color="accent">location_on</mat-icon>
            <h5 mat-line>Endereço 1</h5>
            <p mat-line>Óbidos - Portugal</p>
            <p mat-line>Parque Tecnológico de Óbidos</p>
            <p mat-line>Rua da Criatividade, 2510-216</p>
          </mat-list-item>

          <mat-list-item>
            <mat-icon mat-list-avatar color="accent">location_on</mat-icon>
            <h5 mat-line>Endereço 2</h5>
            <p mat-line>Maceió - Brasil</p>
            <p mat-line>Edifício Record Office, 101</p>
            <p mat-line>R. Eng. Mário de Gusmão</p>
            <p mat-line>Nº 988, CEP 57.035.000</p>
            <p mat-line>Ponta Verde, Maceió/AL - Brasil</p>
          </mat-list-item>
        </mat-list>
      </div>

      <div class="footer-box" fxFlex="33">
        <h4>Redes Sociais</h4>
        <p>
          Nos siga nas redes sociais! Temos vários conteúdos sobre a indústria imobiliária. Falamos de inovações,
          tecnologias, notícias e tendências desse mundo.
        </p>
        <div class="socials pt-1">
          <ul>
            <li>
              <a class="social-icon" href="https://www.facebook.com/Next-Home-113406240405388">
                <i class="fab fa-facebook-square"></i>
                <span class="label">Next Home</span>
              </a>
            </li>

            <li>
              <a class="social-icon instagram" href="https://instagram.com/nexthome.pt?igshid=1snn4a2p0sbpb">
                <i class="fab fa-instagram"></i>
                <span class="label">@nexthome.pt</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
