@import "src/assets/stylesheets/theming";

section {
  padding: 32px;

  &#search {
    background: #eef;
  }

  &#top-properties {
    min-height: 256px;

    div.title {
      font-size: 1.25rem;
      display: flex;
      flex-direction: row;
      width: 100%;
    }

    app-property-card-small {
      margin-bottom: 16px;
    }
  }
}

footer {
  background-color: #212121;

  .footer-box {
    padding: 32px;
    color: #fff !important;

    mat-list-item {
      color: white;
    }

    h4 {
      position: relative;
      font-weight: bold;
      font-size: 1.25rem;
      margin: 0 0 24px;
      padding-bottom: 12px;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 64px;
        background-color: mat-color($nexthome-front-accent, A200);
      }
    }

    mat-icon {
      height: 24px;
      text-align: center;
    }

    h5 {
      font-weight: bold;
    }
  }
}

div.socials {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;

      a.social-icon {
        display: flex;
        align-items: center;
        margin: 8px;
        background-size: cover !important;
        color: mat-color($nexthome-front-accent);
        font-size: 28px;

        span.label {
          font-size: 18px;
          margin-left: 8px;
        }
      }
    }
  }
}
