<mat-card class="property-card-small">
  <div class="preview">
    <img src="https://www.quintoandar.com.br/img/sml/893196960-757.71109725852411CAPA.jpg"/>
  </div>

  <div class="description">
    <span class="type">Apartamento, Temporada</span>
    <span class="street">Rua Desportista Cláudio da Rocha Lima</span>
    <span class="city">Maceió - AL</span>

    <span class="features">
      <span>
        <mat-icon>square_foot</mat-icon> 300 m²
      </span>

      <span>
        <mat-icon>single_bed</mat-icon> 10 quartos
      </span>
    </span>

    <span class="price-disclaimer">A partir de</span>
    <span class="price">R$ 10.000,00</span>
  </div>
</mat-card>
