.spacer {
  flex: 1 1 auto;
}

.flex-1 {
  flex: 1;
}

.margin-auto {
  margin: auto !important;
}

.width-100 {
  width: 100% !important;
}

.fit-width {
  max-width: fit-content;
}

.align-self-center {
  align-self: center;
}

.align-items-center {
  align-items: center;
}

.text-bold {
  font-weight: bold !important;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-sm {
  font-size: .813rem;
}

.text-muted {
  color: rgba(0, 0, 0, .54) !important;
}

.text-muted-white {
  color: rgba(255, 255, 255, .54) !important;
}

.font-light {
  font-weight: 300 !important;
}

.m-0 {
  margin: 0 !important;
}

.mt-8 {
  margin-top: 8px !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.p-0 {
  padding: 0 !important;
}

.p-16 {
  padding: 16px !important;
}

.p-24 {
  padding: 24px !important;
}

.pl-12 {
  padding-left: 12px !important;
}

.pb-16 {
  padding-bottom: 16px !important;
}

.pt-16 {
  padding-top: 16px !important;
}

.pv-16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.mat-bg-primary {
  background: mat-color($nexthome-front-primary, 500) !important;
  color: white;
}

.mat-bg-accent {
  background: mat-color($nexthome-front-accent) !important;
}

.hidden {
  display: none !important;
}

.clickable {
  cursor: pointer;
  outline: none;
}

.error {
  color: mat-color($mat-red, 500);
}

.width-100 {
  width: 100% !important;
}

.position-relative {
  position: relative;
}

.color-primary {
  color: mat-color($nexthome-front-primary);
}

.white-space-normal {
  white-space: normal;
}
