<div id="dialog-title" mat-dialog-title fxLayout="row">
  <h1 fxFlex="grow">Filtros</h1>
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div id="filters" mat-dialog-content fxLayout="column">
  <div class="pt-16" fxLayout="row" fxFlexAlign="center">
    <mat-button-toggle-group [(ngModel)]="searchParams.negotiationType" [ngModelOptions]="{standalone: true}">
      <mat-button-toggle value="RENTAL">Alugar</mat-button-toggle>
      <mat-button-toggle value="SELL">Comprar</mat-button-toggle>
      <mat-button-toggle value="SEASON">Temporada</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="pb-16">
    <h4>Valor</h4>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="16px">
      <mat-form-field appearance="outline" floatLabel="always" fxFlex="grow">
        <mat-label>Mínimo R$ 500,00</mat-label>
        <input matInput type="number" placeholder="500,00" [(ngModel)]="searchParams.minPrice">
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always" fxFlex="grow">
        <mat-label>Máximo R$ 20.000,00</mat-label>
        <input matInput type="number" placeholder="20.000,00" [(ngModel)]="searchParams.maxPrice">
      </mat-form-field>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="pb-16">
    <h4>Tipos de Imóveis</h4>
    <div class="justify-space-between" fxLayout="row wrap" fxLayoutGap="16px">
      <mat-checkbox [(ngModel)]="searchParams.house">Casa</mat-checkbox>
      <mat-checkbox [(ngModel)]="searchParams.apartment">Apartamento</mat-checkbox>
      <mat-checkbox [(ngModel)]="searchParams.commercial">Comercial</mat-checkbox>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="pb-16">
    <h4>Detalhes</h4>

    <div fxLayout="row wrap" fxLayoutGap="16px">
      <mat-form-field appearance="outline">
        <mat-label>Quartos</mat-label>
        <mat-select>
          <mat-option value="1">1+</mat-option>
          <mat-option value="2">2+</mat-option>
          <mat-option value="3">3+</mat-option>
          <mat-option value="4">4+</mat-option>
          <mat-option value="5">5+</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Suítes</mat-label>
        <mat-select>
          <mat-option value="1">1+</mat-option>
          <mat-option value="2">2+</mat-option>
          <mat-option value="3">3+</mat-option>
          <mat-option value="4">4+</mat-option>
          <mat-option value="5">5+</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Banheiros</mat-label>
        <mat-select>
          <mat-option value="1">1+</mat-option>
          <mat-option value="2">2+</mat-option>
          <mat-option value="3">3+</mat-option>
          <mat-option value="4">4+</mat-option>
          <mat-option value="5">5+</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Vagas de garagem</mat-label>
        <mat-select>
          <mat-option value="1">1+</mat-option>
          <mat-option value="2">2+</mat-option>
          <mat-option value="3">3+</mat-option>
          <mat-option value="4">4+</mat-option>
          <mat-option value="5">5+</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div>
    <h4>Diferenciais</h4>

    <div class="justify-space-between" fxLayout.lt-sm="column" fxLayout="row">
      <div fxLayout="column">
        <mat-checkbox color="primary" [(ngModel)]="searchParams.elevator">Elevador</mat-checkbox>
        <mat-checkbox color="primary" [(ngModel)]="searchParams.interphone">Interfone</mat-checkbox>
        <mat-checkbox color="primary" [(ngModel)]="searchParams.furniture">Mobiliado</mat-checkbox>
        <mat-checkbox color="primary" [(ngModel)]="searchParams.sauna">Sauna</mat-checkbox>
        <mat-checkbox color="primary" [(ngModel)]="searchParams.pool">Piscina</mat-checkbox>
      </div>

      <div fxLayout="column">
        <mat-checkbox color="primary" [(ngModel)]="searchParams.barbecueGrill">Churrasqueira</mat-checkbox>
        <mat-checkbox color="primary" [(ngModel)]="searchParams.balcony">Varanda</mat-checkbox>
        <mat-checkbox color="primary" [(ngModel)]="searchParams.concierge">Portaria 24h</mat-checkbox>
        <mat-checkbox color="primary" [(ngModel)]="searchParams.partyRoom">Salão de festas</mat-checkbox>
        <mat-checkbox color="primary" [(ngModel)]="searchParams.sportsCourt">Quadra esportiva</mat-checkbox>
      </div>

      <div fxLayout="column">
        <mat-checkbox color="primary" [(ngModel)]="searchParams.americanKitchen">Cozinha americana</mat-checkbox>
        <mat-checkbox color="primary" [(ngModel)]="searchParams.gym">Academia</mat-checkbox>
        <mat-checkbox color="primary" [(ngModel)]="searchParams.playground">Playground</mat-checkbox>
        <mat-checkbox color="primary" [(ngModel)]="searchParams.nearMall">Próximo a shopping</mat-checkbox>
        <mat-checkbox color="primary" [(ngModel)]="searchParams.nearBars">Próximo a bares</mat-checkbox>
      </div>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-stroked-button (click)="clear()">Limpar</button>
  <button mat-stroked-button [mat-dialog-close]="true" color="primary" (click)="submit()">Aplicar</button>
</div>
